<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/common.js"></script>
    <script type="text/javascript">
    var board=new Board(8);
    </script>
  </head>
  <body>
    <center><h1><%= title %></h1></center>
    <p>Welcome to <%= title %></p>
    <center>
    <% for(var i=0;i<8;i++){%>
    <% for(var j=0;j<8;j++){%>
      <a class=board href=javascript:board.check(<%= 10*i+j %>);><span class=stone id=<%= 10*i+j%>></span></a>
      <%}%>
      <br>
      <%}%>
    </center>



    <script type="text/javascript">
        board.drawboard();
    </script>
  </body>
</html>
